# [Recommended for local deployments] Backend API key for OpenAI, so that users don't need one (UI > this > '')
OPENAI_API_KEY=
# [Not needed] Set the backend host for the OpenAI API, to enable platforms such as Helicone (UI > this > api.openai.com)
OPENAI_API_HOST=
# [Not needed] Sets the "OpenAI-Organization" header field to support organization users (UI > this > '')
OPENAI_API_ORG_ID=

# [Optional] Enables ElevenLabs credentials on the server side - for optional text-to-speech
ELEVENLABS_API_KEY=
ELEVENLABS_API_HOST=
ELEVENLABS_VOICE_ID=

# [Optional] Prodia credentials on the server side - for optional image generation
PRODIA_API_KEY=


NEXT_PUBLIC_SUPABASE_URL=https://uasuknkfhbcfssijcohj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhc3VrbmtmaGJjZnNzaWpjb2hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzMzI1NTEsImV4cCI6MTk5OTkwODU1MX0.MHKgm9jZEbDUEOfuhXYaLdK1evKaiALknTPlS8RQjgk

